* {
    box-sizing: border-box;
}

.wrapper {
	overflow: auto;
}

body {
	font-family: "Verdana", sans-serif;
	background-color: #D8D8D8;
	color: #585858;
	width: 90%;
	margin: 0 auto;
}

nav ul {
	/*padding: 14px;*/
	background-color: #BDBDBD;
	display: inline-block;
	width: 100%;
	padding 0px, 0px;
	text-align: center;
}

nav li {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	border: 2px solid #424242;
	width: 100%;
	margin-top: 5px;
	text-align: center;	
}

a {
	text-decoration: none;
	color: #424242;
}

a:hover {
	color: purple;
}

#header {
	margin 1%;
	padding: 20px;
	background-color: #A4A4A4;
	color: black;
}

#header img {
	/*float: left;
	margin-right: 20px;*/
	display: none;
}

.image1, .image2, .image3 {
	/*width: 31.3%;
	float: left;*/
	margin: 1%;
	width: 98%;
	float: none;
	border-radius: 5px;
}

h3 {
	display: block;
	margin: 1%;
	color: #424242;
}

.text {
	margin: 1%;
	font-size: 13px;
}

#footer {
	margin 1%;
	color: #424242;
	height: 40px;
	background-color: #BDBDBD;
}

#footer p {
	display: inline-block;
	float: left;
	font-size: 10px;
	padding:	1%;
}

.social {
	display: inline-block;
	float: right;
	margin: 10px 5px 10px 5px;
}

.clear {
	clear: both;
}

/*@media screen and (max-width: 480px) {
	nav ul {
		width: 100%;
		padding 0px, 0px;
		text-align: center;
	}
	nav li {
		width: 100%;
		margin-top: 5px;
		text-align: center;
	}
	#header img {
		display: none;
	}
	.image1, .image2, .image3 {
		width: 98%;
		float: none;
	}
}*/